Django==1.4.2
MySQL-python==1.2.3
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
celery==3.0.12
dj-database-url==0.2.1
django-celery==3.0.11
kombu==2.5.3
psycopg2==2.4.5
python-dateutil==1.5
pytz==2012h
redis==2.7.2
boto==2.6.0
django-ses==0.4.1
django-zebra==0.4.3
django-extensions==1.0.0
django-templated-email==0.4.7
stripe==1.7.6
wsgiref==0.1.2
pusher==0.6
django-sslify==0.2
